
<html>
    <body>
        <section align="center"  style="background-image: url('static/img123.jpg')">
            <h3>Commerce Page</h3>
        <section class="home" id="home" class="intro-header">
            <p>According to your inputs, your interests align most with the "Commerce" Branch.
            <br>To further narrow down your career aspects, we request you to take the dedicated Stage 2 of the Aptitude Test.</p>
            <a href=index_com><button class="btn">Go to Commerce Test 2</button></a>
        <br><br>
        <a href=roadmap><button class="btn">Go to Roadmap</button></a>
        </section>
        </section>
    </body>
    </html>