<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
  
	<title>Aptitude Test 1</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
  
	<!-- Favicons -->
	<!-- <link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
	<!-- Vendor CSS Files -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="../static/css/main.css" rel="stylesheet">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;} *  {
  background-image: url('static/img404.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input[type=text], select, textarea {
  width: 100%;
  opacity: 0.6;
  padding: 12px;
  border: 1px solid rgb(21, 19, 19);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  /*background-color: #B8EEFE;*/
  padding: 20px;
}
</style>
</head>
<body class="intro-header" style="background-image: url('static/img1.1.jpg')">
	  <!-- ======= Header ======= -->

	
	  <header id="header" class="header d-flex align-items-center">
	
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		  <a href="index.html" class="logo d-flex align-items-center">
			<!-- Uncomment the line below if you also wish to use an image logo -->
			<!-- <img src="assets/img/logo.png" alt=""> -->
			<h1>CareerBuddy<span>.</span></h1>
		  </a>
		  <nav id="navbar" class="navbar">
			<ul>
			  <li><a href="profile">Welcome, {{name}}!</a></li>
			  <li><a href="{{ url_for('main.index') }}">Home</a></li>
			  <li><a href="blog.html">Blog</a></li>
			   
			  </li>
			  <li><a href="#contact">Contact</a></li>
			</ul>
		  </nav><!-- .navbar -->
	
		  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
		  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
	</div>

	  </header><!-- End Header -->

	  <section id="blog" class="blog">
		<div class="container" >
  
		  <div class="row g-5">
  
			<div class="col-lg-12">
  
			  
  
  
			  <div class="comments">
  
	  
				<div class="reply-form">
  
				  <h4>Voc Test 1</h4>
      



      
<!-- <div style="margin: 150px;"> -->
	<!--<header class="intro-header" style="background-image: url('static/img1.1.jpg')"></header>-->
	<!--<img src="{{url_for('static', filename='img1.1.jpg')}}"/>-->
  <form action="/result_voc" method="POST">

	
	<label for="sq1">Do you like travelling?</label>
	<select id="sq1" name="sq1">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="sq2">Do you like interacting with people?</label>
	<select id="sq2" name="sq2">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="sq3">Do you have excellent oral and written communication skills?</label>
	<select id="sq3" name="sq3">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="sq4">Do you consider yourself to be loyal towards an organization?</label>
	<select id="sq4" name="sq4">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="sq5">Do you like to stand up for justice and truth?</label>
	<select id="sq5" name="sq5">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>

	<p>Section Two</p>
	<label for="cq1">Do you enjoy working with your hands and building things?</label>
	<select id="cq1" name="cq1">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="cq2">Are you comfortable using tools and machinery?</label>
	<select id="cq2" name="cq2">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="cq3">Do you have an interest in computers and technology?</label>
	<select id="cq3" name="cq3">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="cq4">Are you good at problem-solving and critical thinking?</label>
	<select id="cq4" name="cq4">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="cq5">Do you enjoy working in a team and collaborating with others?</label>
	<select id="cq5" name="cq5">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>

	<p>Section Three</p>
	<label for="aq1">Are you interested in healthcare and helping people?</label>
	<select id="aq1" name="aq1">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="aq2">Do you have good communication and interpersonal skills?</label>
	<select id="aq2" name="aq2">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="aq3">Are you comfortable with public speaking and presenting to groups?</label>
	<select id="aq3" name="aq3">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="aq4">Do you enjoy working with numbers and have good math skills?</label>
	<select id="aq4" name="aq4">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>
	<label for="aq5">Are you interested in the arts and creative expression?</label>
	<select id="aq5" name="aq5">
	<option value="1">Yes</option>
	<option value="0">No</option>
	<option value="-1">Not Sure</option>
	</select>
	<br>

	
    <input type="submit"  value="Submit" style="background-color:#c7eaed;border:1px solid #19100b;border-radius:15px;color:#000000;display:inline-block;font-family:'Montserrat',Arial, Geneva, sans-serif;font-size:14px;font-weight:700;line-height:30px;text-align:center;text-decoration:none;width:220px;-webkit-text-size-adjust:none;" />
</form>
</div>
</div>

</div>
		  </div>
		</div>
	  </section>
	  
</body>
</html>
