<html>
  <head><link rel="stylesheet" href="roadmap.css">
    <link href="../static/css/main.css" rel="stylesheet">

</head>
<body >
  <header id="header" class="header d-flex align-items-center">
	
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		  <a href="index.html" class="logo d-flex align-items-center">
			<!-- Uncomment the line below if you also wish to use an image logo -->
			<!-- <img src="assets/img/logo.png" alt=""> -->
			<h1>CareerBuddy<span>.</span></h1>
		  </a>
		  <nav id="navbar" class="navbar">
			<ul>
			  <li><a href="profile">Welcome, {{name}}!</a></li>
			  <li><a href="index.html">Home</a></li>
			  <li><a href="blog.html">Blog</a></li>
			   
			  </li>
			  <li><a href="#contact">Contact</a></li>
			</ul>
		  </nav><!-- .navbar -->
	
		  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
		  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
	</div>

	  </header><!-- End Header -->
<div class="content">
  <h1>Roadmap of Career Paths available after 10th class</h1><br>
  <figure class="org-chart cf">
    <ul class="administration">
     <li class="department dep-e">
      <a href="Science.html"><span>Science</span></a>
      </li>
      <li class="department dep-b">
      <a href="#"><span>Commerce</span></a>
      </li>
      <li class="department dep-e">
        <a href="#"><span>Arts</span></a>



                <!-- <ul class="sections">
                  <li class="section"><a href="#"><span>Science</span></a></li>
                  <li class="section"><a href="#"><span>Commerce</span></a></li>
                  <li class="section"><a href="#"><span>Arts</span></a></li>
                </ul> -->
              </li> <br><br><br><br><br><br><br><br><br>
              </ul>
              </figure>
  
  <h1>Roadmap of Career Paths available after 10th class other than Science Arts and Commerce:</h1><br><br>

  
  <figure class="org-chart cf">
    <ul class="administration">
      				
        
              <li class="department dep-a">
                <a href="#"><span>Vocational Courses</span></a>
                <ul class="sections">
                  <li class="section"><a href="#"><span>E- Commerce</span></a></li>
                  <li class="section"><a href="#"><span>Digital Marketing</span></a></li>
                  <li class="section"><a href="#"><span>Occupational Therapy</span></a></li>
                  <li class="section"><a href="#"><span>Agriculture</span></a></li>
                  <li class="section"><a href="#"><span>Journalism</span></a></li>
                  <li class="section"><a href="#"><span>Certificate in Animation</span></a></li>
                  <li class="section"><a href="#"><span>Certificate Course in Functional/Spoken English</span></a></li>
                  <li class="section"><a href="#"><span>Certification in Mobile</span></a></li>
                  <li class="section"><a href="#"><span>Repairing Course</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Commercial Practise</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Cosmetology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Stenography</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Leather Technology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Mechanical Engineering</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in 3D Animation</span></a></li>
                </ul>
              </li>
              <li class="department dep-b">
                <a href="#"><span>ITI Courses</span></a>
                <ul class="sections">
                  <li class="section"><a href="#"><span>Electrician</span></a></li>
                  <li class="section"><a href="#"><span>Radiology Technician</span></a></li>
                  <li class="section"><a href="#"><span>insurance Agent</span></a></li>
                  <li class="section"><a href="#"><span>Digital Photographer</span></a></li>
                  <li class="section"><a href="#"><span>Fashion Design & Technology</span></a></li>
                  <li class="section"><a href="#"><span>Sewing Technology</span></a></li>
                  <li class="section"><a href="#"><span>Tool and Die Making/span></a></li>
                  <li class="section"><a href="#"><span>Computer Operator </span></a></li>
                  <li class="section"><a href="#"><span>Programming Artists</span></a></li>
                </ul>
              </li>
              <li class="department dep-e">
                <a href="#"><span>Paramedical Courses</span></a>
                <ul class="sections">
                  <li class="section"><a href="#"><span>Diploma in Hospital Assistance</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Rural Healthcare Pathology Lab Technician</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Paramedic Nursing</span></a></li>
                  <li class="section"><a href="#"><span>Certificate in Nursing Assistants</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Physiotherapy</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in X-Ray Technology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in ECG Technology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Radiology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Dental Mechanics</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Pharmacy</span></a></li>
                </ul>
              <li class="department dep-c">
                <a href="#"><span>Polytechnic Courses</span></a>
                <ul class="sections">
                  <li class="section"><a href="#"><span>Diploma in Computer Programming</span></a></li>
                  <li class="section"><a href="#"><span>Graduate Certificate in Marketing Management</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Petroleum Engineering</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Business Admistration</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Animation, Art & Design</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Hospitality Management</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Accounting</span></a></li>
                  <li class="section"><a href="#"><span>Diploma of Early Childhood Education & Care</span></a></li>
                </ul>
              </li>
              <li class="department dep-d">
                <a href="#"><span>Diploma Courses</span></a>
                <ul class="sections">
                  <li class="section"><a href="#"><span>Diploma in Engineering</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Hotel Managemnet</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Journalism</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Education</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Photography</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Psychology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Elementary Education</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Digital Marketing</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Fine Arts</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in English</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Fashion Designing</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Graphic Designing</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Web Development/Web Designing</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Game Designing</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Bakery & Confectionery</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Food Technology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Information Technology</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Makup and Beauty</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Event Management</span></a></li>
                  <li class="section"><a href="#"><span>Diploma in Animation</span></a></li>
                  
                </ul>
            </li>
              
              <!-- <li class="department dep-e">
                <a href="#"><span>Class 11th and 12th</span></a>
                <ul class="sections">
                  <li class="section"><a href="#"><span>Science</span></a></li>
                  <li class="section"><a href="#"><span>Commerce</span></a></li>
                  <li class="section"><a href="#"><span>Arts</span></a></li>
                </ul>
              </li> -->
              
              </li>
            </ul>
          </li>
        </ul>	
      </li>
    </ul>			
  </figure>
</div>
</body>
</html>