<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CareerBuddy-Course Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.1.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">careerbuddy@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>CareerBuddy<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Career Roadmap</a></li>
          <li><a href="#portfolio">Team</a></li>
          <li><a href="#team">Browse Courses</a></li>
          <li><a href="blog.html">Review</a></li>
          <li class="dropdown"><a href="#"><span>Aptitude Tests</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Aptitude Test for 10th</a></li>
              
              
              <li><a href="#">Aptitude Test for 12th</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Science Stream After 10th</h2>
              <p>Science stream offers you a perfect mix of practical concepts and scientific theories that ultimately builds analytical problem-solving skills. Understanding the various concepts of Physics, Chemistry, and Biology; will help you have a better idea about a bunch of natural and artificial processes around us. With the advancement of technology, many unique fields have sprung from science, such as Nanotechnology, Biotechnology, Bioinformatics, Mechatronics, and many more. Along with these, the traditional ones like Medicine, Engineering, Pharmaceuticals, Computer Science, and Forensic Science are also prevalent among the students.</p>
            <!--<p>Machine learning is an area of artificial intelligence and computer science that comprises supervised and unsupervised learning and includes the development of software and algorithms that can make predictions based on data. Machine learning is utilized across various industries. In the field of data analytics, for example, machine learning is used to make predictions based on trends and insights from data. </p>-->
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Science</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <div>
      <h3>Science Stream After 10th: Subjects</h3>
      <p>
        Before we go on to understand what are the subjects in the science stream after the 10th, a major point to note is that it offers 
        2 substreams. <b>Non-medical</b> and <b>Medical</b> are the 2 substreams available. If you want to pursue a career in science but 
        not in Medicine, you can opt for a Non-medical stream. On the other hand, if you are certain of kick-starting a career in medicine, 
        you should choose the Medical stream.
      </p>
      <p>
        You will be presented with <b>Physics, Chemistry, and Biology (PCB)</b> if you opt for the medical stream. However, Mathematics remains to be optional. 
        For those choosing non-medical;<b> Physics, Chemistry, and Mathematics (PCM)</b> are the mandatory subjects. 
        The non-medical students can choose one more mandatory subject as per their choice. English/Hindi is a compulsory subject for both fields.
      </p>
      <p style="text-align:center;"><img src="../CareerBuddy/assets/img/portfolio/Science-Stream-after-10th.png" class="img-fluid" alt=""></p>

      <p>
        Now let us understand in detail what these subjects entail-</p>
<p>
<b>Physics</b>
Physics is defined as the study of the structure of matter and how the tiny particles of the universe interact. The curriculum of Physics for class 11th and 12th focus on the topics like motion in a straight line, units of measurements, thermodynamics, kinetic energy, waves and oscillation, laws of motion, motion in a plane, gravitation, mechanical properties of fluids, thermal properties of matter and solids, laws of motion.</p>
<p><b>Chemistry</b>
Class 11th and 12th Chemistry will no longer only revolve around chemical reactions. During these years, you will be taken through various in-depth theories based on molecules, the structure of atoms, and chemical equations. Alongside these topics, many new topics like equilibrium, hydrogen, classification of elements, hydrocarbons, periodicity properties, redox reaction, e-block and p-block elements, thermodynamics, organic chemistry, and states of matter.
</p>
<p><b>Mathematics</b>
Considered one of the most difficult subjects in classes 11th and 12th, mathematics needs your time and dedication through the journey. Initially, the concepts of this subject will require more focus but, with time you can develop a better hold over the subject. Here are some of the important chapters trigonometric functions, relations and functions, straight lines, linear inequalities, permutations and combinations, probability, statistics, mathematical reasoning, quadratic equations, binomial theorem, conic sections, mathematical induction, limits, and derivatives, and three-dimensional geometry.
</p>
<p><b>Biology</b>
Biology's curriculum of these classes will open doors to a new world of the living! The core of class 11th will be Botany, whereas, class 12th will focus on Zoology. The chapters for the 11th and 12th can be numbered, but the study of Biology will be vast. Following are the chapter you must be studying during these years living world, plant and animal kingdom, biological classification, gases, body fluids, excretory products, morphology and anatomy of flowering plants, cells, biomolecules, mineral nutrition, plant respiration, growth and development, chemical coordination.
</p></p>
      <p>
      <h3>Here is a list of optional subjects for the science stream after class 10th-</h3>
<ul>
<li>Home Science</li>
<li>Computer Science</li>
<li>Economics</li>
<li>Physical Education</li>
<li>Engineering Design</li>
<li>Biotechnology</li>
<li>Culinary Arts</li>
<li>Psychology</li>
<li>Information Practices</li>
<li>Nutrition and Dietetics</li>
</ul>
</p>
    </div>

  

</body>

</html>